<div class="py-1">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <h3>Educación</h3>
        <i class="fa fa-plus"></i>



        <ul class="list-group list-group-light">

          <li class="list-group-item d-flex justify-content-between align-items-center border-0">

            <div class="d-flex align-items-center">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ20TVnukR-oMzFOsLKtnTAmXqkOG3AiNeP6wDwWKkBl_Z04Xf0UQwRw5HENa5lQXffEtM&usqp=CAU" alt=""
                   class="rounded-circle list-item" />
              <div class="ms-3">
                <p class="fw-bold mb-1">Universidad Caece</p>
                <p class="text-muted mb-0">Licenciatura en Gestión de Sistemas y Negocios</p>
                <p class="text-muted mb-1">Marzo 2021 - Actualidad</p>
              </div>
            </div>
            <i class="fa fa-edit" href="#" role="button"></i>

          </li>



        </ul>
      </div>
    </div>
  </div>
</div>
