<div class="py-3">

<div class="sectionheader">
<div class="container-fluid">
  <div class="py-2" *ngFor = "let persona of personas">
    <div class="row">
      <div class="col-md-12">
        <div class="fb-profile-block">

          <div class="fb-profile-block-thumb cover-container"></div>

          <div class="profile-img">
            <a href="#">
              <img src="https://i.pinimg.com/474x/2f/fd/2a/2ffd2af47e1647ed1fe9cc3dd15aabc0.jpg" alt="" title="">
            </a>

          </div>



          <div class="fb-profile-block-menu">
            <div class="block-menu">

            </div>
            <div class="block-menu">

            </div>
          </div>


        </div>







</div>
    </div>

    <div class="row" >
      <div class="col-md-6">
        <div class="col col-md-12 d-flex justify-content-center justify-content-md-start">
          <h3>{{ persona.title }}</h3> <i class="fa fa-edit" *ngIf="_apiService.loggedIn()"></i>


        </div>



        <div class="col col-md-12 d-flex justify-content-center justify-content-md-start">
          <p>{{ persona.subtitle }}</p>
        </div>


        <div class="col col-md-12 d-flex justify-content-center justify-content-md-start">
          <p>{{ persona.location }}</p>
        </div>

      </div>
      <div class="col col-md-6 d-flex justify-content-center justify-content-md-end">


        <img style="width: 50px; height:50px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Escudo_del_C_A_River_Plate.svg/1200px-Escudo_del_C_A_River_Plate.svg.png" alt="">
        <p style="margin-left: 5px">{{ persona.insignia }}</p>



      </div>





    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="col col-md-12 d-flex justify-content-center justify-content-md-start">
          <h3>Acerca de</h3> <i class="fa fa-edit" *ngIf="_apiService.loggedIn()"        ></i>


        </div>

        <div class="col col-md-12 d-flex justify-content-center justify-content-md-start">
          <p>{{ persona.about }}</p>
        </div>
      </div>




    </div>


  </div>
</div>
</div>

</div>
