<div class="py-3">

<div class="sectionheader">
<div class="container-fluid">
  <div class="py-2">
    <div class="row">
      <div class="col-md-12">
        <div class="fb-profile-block">

          <div class="fb-profile-block-thumb cover-container"></div>

          <div class="profile-img">
            <a href="#">
              <img src="https://i.pinimg.com/474x/2f/fd/2a/2ffd2af47e1647ed1fe9cc3dd15aabc0.jpg" alt="" title="">
            </a>

          </div>



          <div class="fb-profile-block-menu">
            <div class="block-menu">

            </div>
            <div class="block-menu">

            </div>
          </div>


        </div>







</div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="col col-md-12 d-flex justify-content-center justify-content-md-start">
          <h3>Emiliano Dri</h3> <i class="fa fa-edit"></i>


        </div>



        <div class="col col-md-12 d-flex justify-content-center justify-content-md-start">
          <p>Programador Full-Stack</p>
        </div>


        <div class="col col-md-12 d-flex justify-content-center justify-content-md-start">
          <p>Buenos Aires (Argentina) <a href="#">Información de Contacto</a></p>
        </div>

      </div>
      <div class="col col-md-6 d-flex justify-content-center justify-content-md-end">
        <i class="fa fa-edit"></i>

        <img style="width: 50px; height:50px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Escudo_del_C_A_River_Plate.svg/1200px-Escudo_del_C_A_River_Plate.svg.png" alt="">
        <p style="margin-left: 5px">Universidad<br> CAECE</p>



      </div>





    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="col col-md-12 d-flex justify-content-center justify-content-md-start">
          <h3>Acerca de</h3> <i class="fa fa-edit"></i>


        </div>

        <div class="col col-md-12 d-flex justify-content-center justify-content-md-start">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam, dolores explicabo fuga modi natus nesciunt non porro sit. Ad earum esse expedita fugit laborum rem similique voluptate voluptatibus!</p>
        </div>
      </div>




    </div>


  </div>
</div>
</div>

</div>
