<div class="modal-header bg-primary text-white">
  <h4 class="modal-title" id="modal-basic-title">Crear Educacion</h4>
</div>
<div class="modal-body">
  <form [formGroup]="createForm"  (ngSubmit)="onSubmit()" *ngIf="createForm">
    <div class="form-group row d-flex justify-content-center align-items-center">
      <label for="title" class="col-form-label col-sm-2 text-right">Titulo:</label>
      <div class="col-sm-8">
        <input type="text" formControlName="title" class="form-control" />
        <div *ngIf="createFormData['title'].invalid && (createFormData['title'].dirty || createFormData['title'].touched)"
             class="alert-danger">
          <span>El titulo es necesario!</span>
        </div>
      </div>
    </div>

    <div class="form-group row d-flex justify-content-center align-items-center">
      <label for="subtitle" class="col-form-label col-sm-2 text-right">Subtitulo:</label>
      <div class="col-sm-8">
        <input type="text" formControlName="subtitle" class="form-control" />
        <div *ngIf="createFormData['subtitle'].invalid && (createFormData['subtitle'].dirty || createFormData['subtitle'].touched)"
             class="alert-danger">
          <span>El subtitulo es necesario!</span>
        </div>
      </div>
    </div>

    <div class="form-group row d-flex justify-content-center align-items-center">
      <label for="startdate" class="col-form-label col-sm-2 text-right">Fecha de inicio:</label>
      <div class="col-sm-8">
        <input type="text" formControlName="startdate" class="form-control" />
        <div *ngIf="createFormData['startdate'].invalid && (createFormData['startdate'].dirty || createFormData['startdate'].touched)"
             class="alert-danger">
          <span>La fecha inicial es necesaria!</span>
        </div>
      </div>
    </div>

    <div class="form-group row d-flex justify-content-center align-items-center">
      <label for="enddate" class="col-form-label col-sm-2 text-right">Fecha de fin:</label>
      <div class="col-sm-8">
        <input type="text" formControlName="enddate" class="form-control" />

      </div>
    </div>





    <div class="modal-footer">
      <button [disabled]="isLoading" class="btn btn-primary mr-2" (click)="modal.close('Cancel')">Cancelar</button>
      <button [disabled]="isLoading" class="btn btn-primary mr-2">Crear</button>
    </div>

  </form>
</div>

