<div class="modal-header bg-primary text-white">
  <h4 class="modal-title" id="modal-basic-title">Actualizar Skill</h4>
</div>
<div class="modal-body">
  <form [formGroup]="editForm"  (ngSubmit)="onSubmit()" *ngIf="editForm">
    <div class="form-group row d-flex justify-content-center align-items-center">
      <label for="title" class="col-form-label col-sm-2 text-right">Titulo:</label>
      <div class="col-sm-8">
        <input type="text" formControlName="title" class="form-control" />
        <div *ngIf="editFormData['title'].invalid && (editFormData['title'].dirty || editFormData['title'].touched)"
             class="alert-danger">
          <span>El titulo es necesario!</span>
        </div>
      </div>
    </div>
    <div class="form-group row d-flex justify-content-center align-items-center">
      <label for="description" class="col-form-label col-sm-2 text-right">Descripción:</label>
      <div class="col-sm-8">
        <input type="text" formControlName="description" class="form-control" />
        <div *ngIf="editFormData['description'].invalid && (editFormData['description'].dirty || editFormData['description'].touched)"
             class="alert-danger">
          <span>La descripción es necesaria!</span>
        </div>
      </div>
    </div>
    <div class="form-group row d-flex justify-content-center align-items-center">
      <label for="link" class="col-form-label col-sm-2 text-right">Link:</label>
      <div class="col-sm-8">
        <input type="text" formControlName="link" class="form-control" />
        <div *ngIf="editFormData['link'].invalid && (editFormData['link'].dirty || editFormData['link'].touched)"
             class="alert-danger">
          <span>El link es necesario!</span>
        </div>
      </div>
    </div>


    <div class="modal-footer">
      <button [disabled]="isLoading" class="btn btn-primary mr-2" (click)="modal.close('Cancel')">Cancelar</button>
      <button [disabled]="isLoading" class="btn btn-primary mr-2">Actualizar</button>
    </div>

  </form>
</div>

